<ScrollView class="page">
  <ActionBar class="action-bar">
      <StackLayout class="action-bar-title">
        <Label text="SAPIENS | POEMAS" class="font-weight-bold" color="blue"></Label>
      </StackLayout>
  </ActionBar>
</ScrollView>
<GridLayout>
  <ScrollView class="page">
      <StackLayout class="home-panel">
          <ListView class="list-group"  [items]="countries" (itemTap)="onItemTap($event)"
              style="height:1300px">
              <ng-template let-country="item">
                  <FlexboxLayout flexDirection="row" class="list-group-item">
                      <TextView editable="false">
                          <FormattedString>
                              <Span [text]="country.name" color="#00ce71"
                                  class="list-group-item-heading" newline></Span> 
                            <Span [text]="country.altor" color="white" textWrap="true" class="list-group-item-heading" newline textWrap=“true” ></Span>
                          </FormattedString>
                      </TextView>
                  </FlexboxLayout>
              </ng-template>
          </ListView>
      </StackLayout>
  </ScrollView>
</GridLayout>