  
<GridLayout>
  <ScrollView class="page">
    <ActionBar class="action-bar">
      <StackLayout class="action-bar-title">
        <Label text="SAPIENS | EQUIPE" class="font-weight-bold" color="blue"></Label>
      </StackLayout>
    </ActionBar>
    <StackLayout class="home-panel">
          <Image src="~/app/image/olhaosmlk.jpeg" class="img-rounded m-b-20"></Image>
         <Label class="body text-center"  text="Equipe de desenvolvedores" textWrap="true"></Label>
          <TextView editable="false">
            <FormattedString>
              <Span text="Essa equipe e boa hein..."  fontWeight="Bold" textDecoration="Underline"></Span>
            </FormattedString>
        </TextView>
        <TextView editable="false">
            <FormattedString>
            <Span text="Rola pra baixo que tem mais...."></Span>
          </FormattedString>
        </TextView>
        <Image src="~/app/image/eu.png" width="150" class="text-center img-circle"></Image>
        <Label text="Gabriel Flauzino Mota 22 anos"  class="text-center font-weight-bold"></Label>

        <Image src="~/app/image/arrison.jpg" width="150" class="img-circle"></Image>
        <Label text="Arrison 22 anos"  class="text-center font-weight-bold"></Label>
        
        <Image src="~/app/image/bomba.png" width="150" class="img-circle"></Image>
        <Label text="Lucas Teixiera 20 anos"  class="text-center font-weight-bold"></Label>

        <Image src="~/app/image/jesus.png" width="150" class="img-circle"></Image>
        <Label text="Andre Oliveira Pinto Filho 18 anos"  class="text-center font-weight-bold"></Label>
    </StackLayout>
  </ScrollView>
</GridLayout>