<ScrollView class="page">
    <ActionBar class="action-bar">
        <StackLayout class="action-bar-title">
          <Label text="SAPIENS | NOTICIAS" class="font-weight-bold" color="blue"></Label>
        </StackLayout>
    </ActionBar>
</ScrollView>
<GridLayout>
    <ScrollView class="page">
        <StackLayout class="home-panel">

            <ListView class="list-group" [items]="countries" (itemTap)="onItemTap($event)"
                style="height:1300px">
                <ng-template let-country="item">
                    <FlexboxLayout flexDirection="row" class="list-group-item">
                        <Image [src]="country.imageSrc" width="300" height="70"
                            class="thumb img-circle"></Image>
                        <TextView editable="false">
                            <FormattedString>
                                <Span [text]="country.name" color="white"
                                    style="width: 60%" width="70" height="70"
                                    class="list-group-item-heading"></Span>
                            </FormattedString>
                        </TextView>
                    </FlexboxLayout>
                </ng-template>
            </ListView>
        </StackLayout>
    </ScrollView>
</GridLayout>

    