
  
  <GridLayout>
    <ScrollView class="page">
        <ActionBar class="action-bar">
            <StackLayout class="action-bar-title">
              <Label text="SAPIENS" class="font-weight-bold" color="blue"></Label>
            </StackLayout>
          </ActionBar>
      <StackLayout class="home-panel">
        <Image src="http://guiadocente.com.br/wp-content/uploads/2017/11/sala-de-aula--735x400.png" class="img-rounded m-b-20"></Image>
        <Button text="NOTICIAS" backgroundColor="pink" color="black" class="btn btn-rounded-lg" [nsRouterLink]="['/noticias']" (tap)="onButtonTap()"></Button>
        <Button text="EQUIPE" backgroundColor="blue" color="black" class="btn btn-rounded-lg" [nsRouterLink]="['/equipes']" (tap)="onButtonTap()"></Button>
        <Button text="POEMAS" backgroundColor="orange" color="black" class="btn btn-rounded-lg" [nsRouterLink]="['/poemas']" (tap)="onButtonTap()"></Button>
      </StackLayout>
    </ScrollView>
  </GridLayout>

  